In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data_pluto = pd.read_csv("./pluto_23v1.csv")
data_rodent = pd.read_csv("./Rodent_Inspection.csv")

pluto_cols_needed = [
                    "borough",
                    "block",
                    "lot",
                    "bldgclass",
                    "landuse",
                    "lotarea",
                    "numbldgs",
                    "numfloors",
                    "unitsres",
                    "unitstotal",
                    "lotfront",
                    "lotdepth",
                    "proxcode",###
                    "lottype",
                    "bsmtcode",
                    "assesstot",
                    "yearbuilt",
                    "yearalter1",
                    "yearalter2",
                    "histdist",
                    "landmark",
                    "borocode",
                    "bbl",
                    "xcoord",
                    "ycoord",
                    "latitude",
                    "longitude"
                    ]
data_pluto = data_pluto[pluto_cols_needed]
print(data_pluto.shape, data_rodent.shape)

/var/folders/6r/skmhybnj3t93yvs97cn0mrrc0000gn/T/ipykernel_31361/2497605162.py:1: DtypeWarning: Columns (21,22,24,26,66) have mixed types. Specify dtype option on import or set low_memory=False.
  data_pluto = pd.read_csv("./pluto_23v1.csv")

(859068, 27) (2354285, 20)

In [4]:
data_rodent

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION
0,Initial,13407377,PC7882384,1,3.019260e+09,3,1926,10,NaN,NaN,11205.0,NaN,NaN,NaN,NaN,Brooklyn,06/09/2022 01:54:54 PM,Passed,06/13/2022 11:08:40 AM,NaN
1,Initial,13579860,PC8047096,1,1.004530e+09,1,453,34,NaN,NaN,10003.0,NaN,NaN,NaN,NaN,Manhattan,02/13/2023 01:40:15 PM,Rat Activity,02/14/2023 01:55:23 PM,NaN
2,BAIT,2799143,PC7647263,4,4.036190e+09,4,3619,1,NaN,NaN,11385.0,NaN,NaN,NaN,NaN,Queens,03/05/2021 10:40:58 AM,Bait applied,03/08/2021 10:47:56 AM,NaN
3,Initial,11631378,PC6155644,1,1.003760e+09,1,376,1,NaN,AVENUE C,10009.0,990053.0,202877.0,NaN,NaN,Manhattan,04/01/2010 04:11:45 PM,Failed for Other R,04/02/2010 09:08:37 AM,NaN
4,Initial,13511002,PC7978977,1,2.032370e+09,2,3237,12,BAILEY,AVENUE,0.0,NaN,NaN,NaN,NaN,Bronx,10/28/2022 03:00:57 PM,Passed,10/31/2022 11:06:49 AM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2354280,Initial,12455884,PC7315273,1,3.031518e+09,3,3151,7502,591,BUSHWICK AVENUE,11206.0,1002308.0,193971.0,40.698755,-73.934861,Brooklyn,06/07/2018 02:32:32 PM,Passed,06/11/2018 10:36:01 AM,"(40.698755039787, -73.934861352935)"
2354281,Initial,12473521,PC6426667,1,1.005920e+09,1,592,17,104,WEST WASHINGTON PLCE,10014.0,983988.0,206108.0,40.732485,-74.000895,Manhattan,07/17/2018 04:07:37 PM,Passed,07/20/2018 02:19:37 PM,"(40.732484786015, -74.000894839532)"
2354282,Initial,12341990,PC6384131,1,1.015640e+09,1,1564,19,443,EAST 84 STREET,10028.0,998478.0,221667.0,40.775135,-73.949319,Manhattan,10/11/2017 03:54:05 PM,Passed,10/18/2017 09:04:48 AM,"(40.775135404359, -73.949318793622)"
2354283,BAIT,2617168,PC6816719,3,2.024260e+09,2,2426,55,1186,CLAY AVENUE,10456.0,1008956.0,242287.0,40.831829,-73.910906,Bronx,05/12/2017 02:49:09 PM,Bait applied,05/15/2017 08:13:08 AM,"(40.831829498585, -73.910905882331)"
2354284,Compliance,12910654,PC6684734,2,2.031930e+09,2,3193,30,2055,DAVIDSON AVENUE,10453.0,1009567.0,250499.0,40.854123,-73.908230,Bronx,09/03/2015 04:00:31 PM,Passed,09/08/2015 11:27:58 AM,"(40.85412289034, -73.908229834565)"

In [5]:
# rodent = data_rodent[(data_rodent["BBL"] < 6e9) & (data_rodent["BBL"]>=1e9)]
# pluto = data_pluto[(data_pluto["bbl"] < 6e9) & (data_pluto["bbl"]>=1e9)]

In [6]:
rodent = data_rodent.copy()
pluto = data_pluto.copy()
print("pluto len: {}, rodent len:{}".format(len(pluto), len(rodent)))

pluto len: 859068, rodent len:2354285

In [7]:
rodent["BORO_CODE"].value_counts()

1    748192
2    690597
3    649584
4    205565
5     60084
9       263
Name: BORO_CODE, dtype: int64

In [8]:
pluto["borocode"].value_counts()

4    324675
3    276869
5    125220
2     89617
1     42687
Name: borocode, dtype: int64

In [9]:
pluto["bbl"].isnull().sum()

0

In [10]:
rodent["BBL"].isnull().sum()

1

In [11]:
len(pluto), pluto["bbl"].nunique()

(859068, 859068)

In [12]:
len(rodent), rodent["BBL"].nunique()

(2354285, 322467)

In [13]:
2354285 / 322467

7.300855591424859

In [14]:
len(pluto.drop_duplicates())

859068

In [15]:
len(rodent.drop_duplicates())

2354285

In [16]:
len(set(rodent["BBL"]) & set(pluto["bbl"]))

313768

In [17]:
rodent = rodent[~rodent["BBL"].isnull()]
rodent.loc[(rodent["BORO_CODE"]==9), "BORO_CODE"] = np.nan
rodent = rodent[rodent["BLOCK"].astype(str).str.len()<=5]

In [18]:
pd.to_datetime("2018 - 07 - 07 04 - PM", format='%Y - %m - %d %I - %p')

Timestamp('2018-07-07 16:00:00')

In [19]:
rodent["INSPECTION_DATE"] = pd.to_datetime(rodent["INSPECTION_DATE"], format="%m/%d/%Y %I:%M:%S %p")
rodent["APPROVED_DATE"] = pd.to_datetime(rodent["APPROVED_DATE"], format="%m/%d/%Y %I:%M:%S %p")

In [20]:
idx_wrong_dt = rodent[rodent["INSPECTION_DATE"] >  rodent["APPROVED_DATE"]].index
rodent.loc[idx_wrong_dt, "APPROVED_DATE"] = pd.NaT

In [21]:
date_processing = "2023-04-23"
idx_wrong_dt2 = rodent[rodent["INSPECTION_DATE"] >= date_processing].index

rodent.loc[idx_wrong_dt2, "INSPECTION_DATE"] = pd.NaT
rodent.loc[idx_wrong_dt2, "APPROVED_DATE"] = pd.NaT

In [22]:
merged = pd.merge(pluto, rodent, left_on="bbl", right_on="BBL", how="inner")

# bbl list

In [29]:
pluto

,borough,block,lot,bldgclass,landuse,lotarea,numbldgs,numfloors,unitsres,unitstotal,lotfront,lotdepth,proxcode,lottype,bsmtcode,assesstot,yearbuilt,yearalter1,yearalter2,histdist,landmark,borocode,bbl,xcoord,ycoord,latitude,longitude
0,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.00,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172
1,BX,2286,103,B3,1.0,1874.0,1.0,2.0,2.0,2.0,18.75,100.00,3.0,5.0,1.0,48780.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006359.0,234647.0,40.810700,-73.920132
2,MN,1249,146,C5,2.0,1812.0,1.0,4.0,9.0,9.0,18.00,100.67,3.0,5.0,1.0,1087200.0,1893.0,0.0,0.0,Riverside-West End Historic District,NaN,1,1.012490e+09,990256.0,227293.0,40.790541,-73.978310
3,MN,1249,149,C1,2.0,2115.0,1.0,4.0,10.0,10.0,21.00,100.67,3.0,5.0,1.0,1676250.0,1894.0,0.0,0.0,Riverside-West End Historic District,NaN,1,1.012490e+09,990188.0,227330.0,40.790642,-73.978556
4,BX,2737,20,V1,11.0,4760.0,0.0,NaN,0.0,0.0,50.00,95.00,0.0,5.0,5.0,121050.0,0.0,0.0,0.0,NaN,NaN,2,2.027370e+09,1014065.0,236466.0,40.815670,-73.892287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859063,BX,2288,36,D1,3.0,17685.0,1.0,6.0,60.0,60.0,134.00,106.05,1.0,5.0,0.0,1885500.0,2013.0,0.0,0.0,NaN,NaN,2,2.022880e+09,1006917.0,235045.0,40.811791,-73.918115
859064,BX,2286,31,A5,1.0,1650.0,1.0,2.0,1.0,1.0,16.50,100.00,3.0,5.0,1.0,51780.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006457.0,234709.0,40.810870,-73.919778
859065,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.00,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017
859066,BX,2268,7501,RM,4.0,24146.0,1.0,10.0,177.0,179.0,200.06,140.65,0.0,0.0,5.0,10870200.0,2019.0,2018.0,0.0,NaN,NaN,2,2.022688e+09,1007463.0,234213.0,40.809506,-73.916146
859067,SI,3491,1,B9,1.0,4960.0,1.0,2.0,2.0,2.0,29.00,173.00,2.0,5.0,2.0,44340.0,2004.0,0.0,0.0,NaN,NaN,5,5.034910e+09,964767.0,153294.0,40.587411,-74.070146

In [30]:
len(set(merged["BBL"]) & set(pluto["bbl"]))

313768

In [31]:
df_left = pd.DataFrame(list(set(merged["BBL"])), columns=['bbl_indicator'])

In [32]:
df_left

        bbl_indicator
0        4.019550e+09
1        1.014240e+09
2        2.053910e+09
3        4.019550e+09
4        4.019550e+09
...               ...
313763   4.018668e+09
313764   3.016460e+09
313765   4.018668e+09
313766   2.036800e+09
313767   3.016460e+09

[313768 rows x 1 columns]

In [39]:
pluto = pluto.merge(df_left, left_on='bbl', right_on='bbl_indicator', how='left')

In [41]:
pluto['bbl_indicator']=np.where(pluto['bbl_indicator'].isnull(), 0, 1)

In [42]:
pluto

,borough,block,lot,bldgclass,landuse,lotarea,numbldgs,numfloors,unitsres,unitstotal,lotfront,lotdepth,proxcode,lottype,bsmtcode,assesstot,yearbuilt,yearalter1,yearalter2,histdist,landmark,borocode,bbl,xcoord,ycoord,latitude,longitude,bbl_indicator
0,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.00,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,1
1,BX,2286,103,B3,1.0,1874.0,1.0,2.0,2.0,2.0,18.75,100.00,3.0,5.0,1.0,48780.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006359.0,234647.0,40.810700,-73.920132,1
2,MN,1249,146,C5,2.0,1812.0,1.0,4.0,9.0,9.0,18.00,100.67,3.0,5.0,1.0,1087200.0,1893.0,0.0,0.0,Riverside-West End Historic District,NaN,1,1.012490e+09,990256.0,227293.0,40.790541,-73.978310,1
3,MN,1249,149,C1,2.0,2115.0,1.0,4.0,10.0,10.0,21.00,100.67,3.0,5.0,1.0,1676250.0,1894.0,0.0,0.0,Riverside-West End Historic District,NaN,1,1.012490e+09,990188.0,227330.0,40.790642,-73.978556,1
4,BX,2737,20,V1,11.0,4760.0,0.0,NaN,0.0,0.0,50.00,95.00,0.0,5.0,5.0,121050.0,0.0,0.0,0.0,NaN,NaN,2,2.027370e+09,1014065.0,236466.0,40.815670,-73.892287,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859063,BX,2288,36,D1,3.0,17685.0,1.0,6.0,60.0,60.0,134.00,106.05,1.0,5.0,0.0,1885500.0,2013.0,0.0,0.0,NaN,NaN,2,2.022880e+09,1006917.0,235045.0,40.811791,-73.918115,1
859064,BX,2286,31,A5,1.0,1650.0,1.0,2.0,1.0,1.0,16.50,100.00,3.0,5.0,1.0,51780.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006457.0,234709.0,40.810870,-73.919778,1
859065,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.00,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,1
859066,BX,2268,7501,RM,4.0,24146.0,1.0,10.0,177.0,179.0,200.06,140.65,0.0,0.0,5.0,10870200.0,2019.0,2018.0,0.0,NaN,NaN,2,2.022688e+09,1007463.0,234213.0,40.809506,-73.916146,0
859067,SI,3491,1,B9,1.0,4960.0,1.0,2.0,2.0,2.0,29.00,173.00,2.0,5.0,2.0,44340.0,2004.0,0.0,0.0,NaN,NaN,5,5.034910e+09,964767.0,153294.0,40.587411,-74.070146,0

In [45]:
pluto['bbl_indicator'].sum()

313768

In [46]:
pluto.to_csv("./pluto_add_indicater.csv")

In [151]:
#merged.to_csv("./pluto_rodent_merged.csv")

In [154]:
# example = pd.DataFrame({1:[1,np.nan,3,4,5], 
#                         2:[2,3,4,5,6],
#                         3:[3,4,np.nan,6,7],
#                         4:[4,5,6,7,8]})
# example

# example[[1,2,3,4]].max(axis=1)

     1  2    3  4
0  1.0  2  3.0  4
1  NaN  3  4.0  5
2  3.0  4  NaN  6
3  4.0  5  6.0  7
4  5.0  6  7.0  8

In [22]:
#all BORO CODE are the same
(merged["BORO_CODE"] != merged["borocode"]).sum()

0

In [23]:
merged = merged.drop('BORO_CODE', axis=1)

In [24]:
#all BLOCK are the same
(merged["BLOCK"] != merged["block"]).sum()

0

In [25]:
#all LOT are the same
(merged["LOT"] != merged["lot"]).sum()

0

In [26]:
merged = merged.drop('BLOCK', axis=1)
merged = merged.drop('LOT', axis=1)

In [32]:
merged

,borough,block,lot,bldgclass,landuse,lotarea,numbldgs,numfloors,unitsres,unitstotal,lotfront,lotdepth,proxcode,lottype,bsmtcode,assesstot,yearbuilt,yearalter1,yearalter2,histdist,landmark,borocode,bbl,xcoord,ycoord,latitude,longitude,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION
0,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,12703280,PC6957136,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006348.0,234769.0,40.811273,-73.920171,Bronx,2019-12-27 15:49:08,Passed,2019-12-31 10:32:11,"(40.811272694814, -73.920170703712)"
1,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,11576347,PC6904906,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006348.0,234769.0,40.811273,-73.920171,Bronx,2017-04-10 13:20:28,Passed,2017-04-21 15:11:22,"(40.811272694814, -73.920170703712)"
2,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,11757166,PC6641714,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006353.0,234794.0,40.811273,-73.920171,Bronx,2011-08-09 14:55:42,Passed,2011-08-12 09:35:51,"(40.811272694814, -73.920170703712)"
3,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,13334039,PC7810869,1,2.022860e+09,426,EAST 142 STREET,10454.0,NaN,NaN,40.811273,-73.920171,Bronx,2022-02-23 09:34:16,Passed,2022-02-24 15:15:25,"(40.811272694814, -73.920170703712)"
4,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,11648101,PC6571013,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006353.0,234794.0,40.811273,-73.920171,Bronx,2010-05-21 15:11:34,Passed,2010-05-27 13:19:14,"(40.811272694814, -73.920170703712)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294205,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,13334058,PC7810803,1,2.022860e+09,435,EAST 141 STREET,10454.0,NaN,NaN,40.810493,-73.920208,Bronx,2022-02-23 11:46:11,Passed,2022-02-24 15:15:22,"(40.810493212652, -73.920207766959)"
2294206,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,11648070,PC6569460,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006383.0,234628.0,40.810493,-73.920208,Bronx,2010-05-21 12:11:55,Passed,2010-05-27 13:19:15,"(40.810493212652, -73.920207766959)"
2294207,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,11879206,PC6582779,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006392.0,234629.0,40.810493,-73.920208,Bronx,2012-10-18 10:40:43,Passed,2012-10-22 15:07:54,"(40.810493212652, -73.920207766959)"
2294208,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,12703298,PC6962618,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006391.0,234629.0,40.810493,-73.920208,Bronx,2019-12-27 11:07:55,Passed,2019-12-31 10:41:54,"(40.810493212652, -73.920207766959)"
2294209,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,11756849,PC6641877,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006383.0,234628.0,40.810493,-73.920208,Bronx,2011-08-09 11:45:51,Passed,2011-08-11 15:18:01,"(40.810493212652, -73.920207766959)"

In [27]:
merged.to_csv("./pluto_rodent_merged.csv")

In [28]:
data_merge = pd.read_csv("./pluto_rodent_merged.csv")

/var/folders/6r/skmhybnj3t93yvs97cn0mrrc0000gn/T/ipykernel_92647/2423172767.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data_merge = pd.read_csv("./pluto_rodent_merged.csv")

In [29]:
print(data_merge.shape)#1.08G

(2294210, 45)

In [30]:
data_merge["bbl"].nunique()

313768

In [31]:
data_merge

,Unnamed: 0,borough,block,lot,bldgclass,landuse,lotarea,numbldgs,numfloors,unitsres,unitstotal,lotfront,lotdepth,proxcode,lottype,bsmtcode,assesstot,yearbuilt,yearalter1,yearalter2,histdist,landmark,borocode,bbl,xcoord,ycoord,latitude,longitude,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION
0,0,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,12703280,PC6957136,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006348.0,234769.0,40.811273,-73.920171,Bronx,2019-12-27 15:49:08,Passed,2019-12-31 10:32:11,"(40.811272694814, -73.920170703712)"
1,1,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,11576347,PC6904906,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006348.0,234769.0,40.811273,-73.920171,Bronx,2017-04-10 13:20:28,Passed,2017-04-21 15:11:22,"(40.811272694814, -73.920170703712)"
2,2,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,11757166,PC6641714,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006353.0,234794.0,40.811273,-73.920171,Bronx,2011-08-09 14:55:42,Passed,2011-08-12 09:35:51,"(40.811272694814, -73.920170703712)"
3,3,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,13334039,PC7810869,1,2.022860e+09,426,EAST 142 STREET,10454.0,NaN,NaN,40.811273,-73.920171,Bronx,2022-02-23 09:34:16,Passed,2022-02-24 15:15:25,"(40.811272694814, -73.920170703712)"
4,4,BX,2286,24,A5,1.0,1666.0,1.0,2.0,1.0,1.0,16.67,100.0,2.0,5.0,1.0,41700.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006348.0,234769.0,40.811035,-73.920172,Initial,11648101,PC6571013,1,2.022860e+09,426,EAST 142 STREET,10454.0,1006353.0,234794.0,40.811273,-73.920171,Bronx,2010-05-21 15:11:34,Passed,2010-05-27 13:19:14,"(40.811272694814, -73.920170703712)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294205,2294205,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,13334058,PC7810803,1,2.022860e+09,435,EAST 141 STREET,10454.0,NaN,NaN,40.810493,-73.920208,Bronx,2022-02-23 11:46:11,Passed,2022-02-24 15:15:22,"(40.810493212652, -73.920207766959)"
2294206,2294206,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,11648070,PC6569460,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006383.0,234628.0,40.810493,-73.920208,Bronx,2010-05-21 12:11:55,Passed,2010-05-27 13:19:15,"(40.810493212652, -73.920207766959)"
2294207,2294207,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,11879206,PC6582779,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006392.0,234629.0,40.810493,-73.920208,Bronx,2012-10-18 10:40:43,Passed,2012-10-22 15:07:54,"(40.810493212652, -73.920207766959)"
2294208,2294208,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,12703298,PC6962618,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006391.0,234629.0,40.810493,-73.920208,Bronx,2019-12-27 11:07:55,Passed,2019-12-31 10:41:54,"(40.810493212652, -73.920207766959)"
2294209,2294209,BX,2286,101,A5,1.0,1874.0,1.0,2.0,1.0,1.0,18.75,100.0,3.0,5.0,1.0,52680.0,1910.0,0.0,0.0,NaN,NaN,2,2.022860e+09,1006391.0,234629.0,40.810650,-73.920017,Initial,11756849,PC6641877,1,2.022860e+09,435,EAST 141 STREET,10454.0,1006383.0,234628.0,40.810493,-73.920208,Bronx,2011-08-09 11:45:51,Passed,2011-08-11 15:18:01,"(40.810493212652, -73.920207766959)"

In [14]:
data_merge.bbl.value_counts

<bound method IndexOpsMixin.value_counts of 0          2.022860e+09
1          2.022860e+09
2          2.022860e+09
3          2.022860e+09
4          2.022860e+09
               ...
2294205    2.022860e+09
2294206    2.022860e+09
2294207    2.022860e+09
2294208    2.022860e+09
2294209    2.022860e+09
Name: bbl, Length: 2294210, dtype: float64>